/* ==========================
   RESET STYLES
   ========================== */
   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

   
/* ==========================
   GLOBAL STYLES
   ========================== */
   body{
      font-family: "Rubik", sans-serif;
      background-color: hsl(228, 6%, 8%);
   }

   a{
    text-decoration: none;
    cursor: pointer;
   }

   li{
    list-style: none;
    cursor: pointer;
   }

   button, i, img{
      cursor: pointer;
   }


/* ==========================
   HEADER STYLES
   ========================== */
/* 
========Navbar Title PART========
*/
   .nev-styles{
      font-weight: 400;
   }
   
   .nev-styles li:hover{
      color: hsl(93, 54%, 54%);
   }

/* 
========Banner Title PART========
*/
.banner-span{
   color: hsl(93, 54%, 54%);
}

/* 
========Banner Title PART========
*/
.button-hover:hover{
   color: hsl(93, 54%, 54%);
}

